<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <p>Bienvenido</p>
        </div>

        <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-form">
            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" name="correo" [(ngModel)]="correo" required
                    placeholder="Ingresa un correo">
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required
                    placeholder="Ingresa tu contraseña">
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <button type="submit" [disabled]="isLoading || !loginForm.form.valid" class="btn-submit">
                <span *ngIf="!isLoading">Iniciar Sesión</span>
                <span *ngIf="isLoading" class="flex items-center justify-center">
                    <svg class="animate-spin h-5 w-5 mr-3 text-white" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                    Procesando...
                </span>
            </button>
        </form>
    </div>
</div>